<header class="form_header">
    <div class="container">
        <div class="content">
            <figure class="logo_wrapper fadeInUp">
                <img src="./assets/images/webp/logo_desktop.webp" class="logo" width="304" height="160" alt="logo" />
                <img src="./assets/images/webp/logo_mobile.webp" class="logo sm" width="183" height="76" alt="logo" />
            </figure>
        </div>
    </div>
</header>
<section class="form_section1">
    <div class="container">
        <div class="content_top">
            <div class="content">
                <h1 class="title fadeInUp">Le rideau est levé ! Bravo</h1>
                <div class="description fadeInUp">
                    Le tirage au sort parmi les gagnants sera effectué le 05/11/2024. <br />
                    Si vous en faites partie, nous prendrons contact avec vous.
                </div>
            </div>
        </div>
        <div class="content_middle">
            <div class="cols">
                <div class="col_left">
                    <div class="content">
                        <figure class="picto_wrapper">
                            <img src="./assets/images/svg/open_door.min.svg" class="picto" width="640" height="780" alt="picto" />
                        </figure>
                    </div>
                </div>
                <div class="col_right">
                    <div class="content">
                        <form class="form">
                            <div class="form_cols">
                                <div class="form_col col_50 fadeInUp">
                                    <div class="app_form_group">
                                        <div class="app_field_input">
                                            <input type="text" placeholder="Nom" name="lastname" class="app_field" />
                                            <label class="label">Nom<span class="star"> *</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form_col col_50 fadeInUp">
                                    <div class="app_form_group">
                                        <div class="app_field_input">
                                            <input type="text" placeholder="Prénom" name="firstname" class="app_field" />
                                            <label class="label">Prénom<span class="star"> *</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form_cols">
                                <div class="form_col col_50 fadeInUp">
                                    <div class="app_form_group">
                                        <div class="app_field_input">
                                            <input type="text" placeholder="Code postal" name="postalCode" class="app_field" />
                                            <label class="label">Code postal<span class="star"> *</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form_col col_50 fadeInUp">
                                    <div class="app_form_group">
                                        <div class="app_field_input">
                                            <input type="text" placeholder="Ville" name="city" class="app_field" />
                                            <label class="label">Ville<span class="star"> *</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form_cols">
                                <div class="form_col col_100 fadeInUp">
                                    <div class="app_form_group">
                                        <div class="app_field_input">
                                            <input type="text" placeholder="Email" name="email" class="app_field" />
                                            <label class="label">Email<span class="star"> *</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form_conditions">
                                <ul class="form_conditions_list">
                                    <li class="form_condition_item fadeInUp">
                                        <div class="app_form_group">
                                            <label class="app_field_checkbox">
                                                <input type="checkbox" name="termCgu" class="app_field" />
                                                <span class="checkbox_label">J'ai lu et j'accepte le règlement du jeu “<a href="https://www.img.banquepopulaire.fr/app/uploads/sites/28/2024/10/23130323/reglement-jeu-halloween-2024-lever-de-rideau.pdf" target="_blank" class="lnk">Lever de rideau 2024</a>” et j'atteste de l'exactitude des informations communiquées dans ce formulaire. <span class="star">*</span></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="form_condition_item fadeInUp">
                                        <div class="app_form_group">
                                            <label class="app_field_checkbox">
                                                <input type="checkbox" name="termAdult" class="app_field" />
                                                <span class="checkbox_label">Je certifie avoir plus de 18 ans <span class="star">*</span></span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn_wrapper fadeInUp">
                                <button type="submit" class="app_btn btn_primary btn_submit">Je participe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_bottom fadeInUp">
            <label class="info_star"><span class="star">*</span> Champs obligatoires</label>
        </div>
    </div>
</section>
<footer class="layout_footer">
    <div class="container">
        <div class="content fadeInUp">
            <a href="https://www.img.banquepopulaire.fr/app/uploads/sites/28/2024/10/23130323/reglement-jeu-halloween-2024-lever-de-rideau.pdf" target="_blank" class="lnk">Voir règlement du jeu</a>
            <div class="txt">
                <p>La Banque Populaire Rives de Paris (80, boulevard Auguste Blanqui 75204 Paris Cedex 13) recueille en tant que responsable de traitement des données à caractère personnel vous concernant. Les données collectées sont obligatoires, elles permettront à la Banque Populaire de vous identifier et de répondre à votre demande.</p>
                <p>Les informations vous expliquant pourquoi et comment la Banque Populaire Rives de Paris utilisera vos données, combien de temps elles seront conservées ainsi que les droits dont vous disposez s’agissant de ces données figurent dans notre notice d’information. Vous pouvez y accéder (<a href="https://www.img.banquepopulaire.fr/app/uploads/sites/5/2021/01/28093228/7367-edep-noticergpd-bp-interactif.pdf" target="_blank" class="lnk">ici</a>) et à tout moment sur notre site internet (<a href="https://www.banquepopulaire.fr/votre-banque/reglementation/protection-des-donnees-personnelles/" target="_blank" class="lnk">ici</a>) ou sur simple demande auprès de votre agence.</p>
            </div>
            
        </div>
    </div>
</footer>