@import "../../../mixing/base";

.section.section1 {
    position: relative;

    .mask_top {
        position: relative;
    }

    .badge_logo {
        position: relative;
    }

    .section_content {
        position: relative;
        display: flex;
        align-items: center;
    }

    .container {
        position: relative;
        @include propriete_x(
            max-width,
            1455px,
            (
                "1728px": 84.201vw,
                "991px": 100vw,
                "768px": 100vw,
                "480px": 100vw,
            )
        );
    }

    .cols {
        position: relative;
        display: flex;
        @include propriete_x(
            flex-wrap,
            null,
            (
                "991px": nowrap,
                "768px": wrap,
            )
        );
        @include propriete_x(
            padding,
            null,
            (
                "991px": 0 0 6.054vw,
                "768px": 0 0 7.813vw,
                "480px": 0 0 12.5vw,
            )
        );
    }

    .col_left {
        position: relative;
        @include propriete_x(
            padding,
            0 48px 38px,
            (
                "1728px": 0 2.778vw 2.199vw,
                "991px": 0 1.514vw 1.11vw,
                "768px": 0 1.953vw 1.432vw,
                "480px": 0 3.125vw 2.292vw,
            )
        );
        @include propriete_x(
            min-width,
            null,
            (
                "991px": initial,
                "768px": 100%,
            )
        );
        @include propriete_x(
            justify-content,
            null,
            (
                "768px": center,
            )
        );
        @include propriete_x(
            display,
            null,
            (
                "991px": flex,
            )
        );

        .content {
            position: relative;
            display: flex;
            justify-content: end;
            @include propriete_x(
                min-width,
                519px,
                (
                    "1728px": 30.035vw,
                    "991px": 34.309vw,
                    "768px": 44.271vw,
                    "480px": 70.833vw,
                )
            );
            @include propriete_x(
                padding,
                27px 22px 45px 45px,
                (
                    "1728px": 1.563vw 1.273vw 2.604vw 2.604vw,
                    "991px": 2.725vw 2.22vw 4.541vw 4.541vw,
                    "768px": 3.516vw 2.865vw 5.859vw 5.859vw,
                    "480px": 5.625vw 4.583vw 9.375vw 9.375vw,
                )
            );
        }

        .canvas_wrapper {
            position: absolute;
            margin: 0;
            transform: rotate(4.09deg);
            @include propriete_x(
                width,
                450px,
                (
                    "1728px": 26.042vw,
                    "991px": 28.052vw,
                    "768px": 36.198vw,
                    "480px": 57.917vw,
                )
            );
            @include propriete_x(
                height,
                635px,
                (
                    "1728px": 36.748vw,
                    "991px": 39.354vw,
                    "768px": 50.781vw,
                    "480px": 81.25vw,
                )
            );
            @include propriete_x(
                right,
                42px,
                (
                    "1728px": 2.431vw,
                    "991px": 3.229vw,
                    "768px": 4.167vw,
                    "480px": 6.667vw,
                )
            );

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                bottom: 0;
                background: linear-gradient(
                    43.14deg,
                    rgba(243, 242, 239, 0) 31.37%,
                    #fdfcfa 62.06%
                );
                display: block;
                position: absolute;
                z-index: 1;
            }

            canvas {
                position: relative;
                width: 100%;
                height: 100%;
                //background: red;
            }
        }

        .img_wrapper {
            position: relative;
            transform: rotate(4.09deg);
            position: relative;
            mask-image: url("/assets/images/svg/dg_pdp_mask_forme.svg");
            mask-size: 100%;
            mask-repeat: no-repeat;
            mask-position: center;
            margin: 0;
            cursor: pointer;
            @include propriete_x(
                width,
                425px,
                (
                    "1728px": 24.595vw,
                    "991px": 26.236vw,
                    "768px": 33.854vw,
                    "480px": 54.167vw,
                )
            );
            @include propriete_x(
                height,
                592px,
                (
                    "1728px": 34.259vw,
                    "991px": 36.529vw,
                    "768px": 47.135vw,
                    "480px": 75.417vw,
                )
            );
            @include propriete_x(
                padding,
                4px,
                (
                    "1728px": 0.231vw,
                    "991px": 0.404vw,
                    "768px": 0.521vw,
                    "480px": 0.833vw,
                )
            );

            &:hover {
                &::before {
                    width: 200%;
                    height: 200%;
                    left: -50%;
                    top: -50%;
                    transform: rotate(45deg);
                }

                .img {
                    transform: scale(1.07);
                }
            }

            &::before {
                content: "";
                width: 150%;
                height: 150%;
                left: -25%;
                top: -25%;
                background: linear-gradient(
                    90deg,
                    #d7bd64 0%,
                    #f3e1a7 50%,
                    #d9bd64 100%
                );
                transition: all 0.3s linear;
                position: absolute;
                display: block;
            }

            .inner {
                position: relative;
                mask-image: url("/assets/images/svg/dg_pdp_mask_inner.svg");
                mask-size: 100%;
                mask-repeat: no-repeat;
                mask-position: center;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .img {
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                scale: 1.04;
                transition: all 0.3s linear;
            }
        }
    }

    .col_right {
        position: relative;
        @include propriete_x(
            padding,
            0 48px,
            (
                "1728px": 0 2.778vw,
                "991px": 0 1.514vw,
                "768px": 0 1.953vw,
                "480px": 0 3.125vw,
            )
        );

        .content {
            position: relative;
        }
    }

    .title {
        position: relative;
        font-weight: 700;
        line-height: 140%;
        background: linear-gradient(
            269.88deg,
            #d7bd64 3.15%,
            #f3e1a7 50.74%,
            #d9bd64 98.33%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        @include propriete_x(
            font-size,
            46px,
            (
                "1728px": 2.662vw,
                "991px": 3.229vw,
                "768px": 4.167vw,
                "480px": 6.667vw,
            )
        );
        @include propriete_x(
            margin,
            0 0 30px,
            (
                "1728px": 0 0 1.736vw,
                "991px": 0 0 2.018vw,
                "768px": 0 0 2.604vw,
                "480px": 0 0 4.167vw,
            )
        );
    }

    .description {
        position: relative;
        @include propriete_x(
            margin,
            0 0 40px,
            (
                "1728px": 0 0 2.315vw,
                "991px": 0 0 2.523vw,
                "768px": 0 0 3.255vw,
                "480px": 0 0 5.208vw,
            )
        );

        p {
            position: relative;
        }
    }

    .user_info {
        position: relative;

        .username {
            position: relative;
            font-weight: 700;
            line-height: 115%;
            background: linear-gradient(
                269.88deg,
                #bfaa61 3.15%,
                #dfcc8e 50.74%,
                #d4b75c 98.33%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            @include propriete_x(
                font-size,
                30px,
                (
                    "1728px": 1.736vw,
                    "991px": 2.119vw,
                    "768px": 2.734vw,
                    "480px": 4.375vw,
                )
            );
        }

        .userjob {
            position: relative;
            font-weight: 400;
            line-height: 119%;
            background: linear-gradient(
                269.88deg,
                #bfaa61 3.15%,
                #dfcc8e 50.74%,
                #d4b75c 98.33%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            @include propriete_x(
                font-size,
                16px,
                (
                    "1728px": 0.926vw,
                    "991px": 1.413vw,
                    "768px": 1.823vw,
                    "480px": 2.917vw,
                )
            );
        }
    }
}
