@import "../../../mixing/base";

.section2 {
    position: relative;

    .container {
        position: relative;
        @include propriete_x(
            max-width,
            1455px,
            (
                "1728px": 84.201vw,
                "991px": 100vw,
                "768px": 100vw,
                "480px": 100vw,
            )
        );
    }

    .mask_top {
        position: relative;
    }

    .badge_logo {
        position: relative;
    }

    .section_content {
        position: relative;
    }

    .content_top {
        position: relative;
        text-align: center;
        @include propriete_x(
            margin,
            0 0 52px,
            (
                "1728px": 0 0 3.009vw,
                "991px": 0 0 1.816vw,
                "768px": 0 0 2.344vw,
                "480px": 0 0 3.75vw,
            )
        );

        .container {
            position: relative;
        }

        .title {
            position: relative;
            font-weight: 700;
            background: linear-gradient(
                269.88deg,
                #d7bd64 3.15%,
                #f3e1a7 50.74%,
                #d9bd64 98.33%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            @include propriete_x(
                font-size,
                46px,
                (
                    "1728px": 2.662vw,
                    "991px": 3.229vw,
                    "768px": 4.167vw,
                    "480px": 6.667vw,
                )
            );
            @include propriete_x(
                line-height,
                140%,
                (
                    "1728px": null,
                )
            );
            @include propriete_x(
                margin,
                0 0 20px,
                (
                    "1728px": 0 0 1.157vw,
                    "991px": 0 0 0.505vw,
                    "768px": 0 0 0.651vw,
                    "480px": 0 0 3.125vw,
                )
            );
            @include propriete_x(
                padding,
                0 50px,
                (
                    "480px": 0 10.417vw,
                )
            );
        }

        .description {
            position: relative;
            @include propriete_x(
                padding,
                null,
                (
                    "480px": 0 7.292vw,
                )
            );

            p {
                position: relative;
                br {
                    @include propriete_x(
                        display,
                        null,
                        (
                            "480px": none,
                        )
                    );
                }
            }
        }
    }

    .content_bottom {
        position: relative;
        @include propriete_x(
            padding,
            0 0 100px,
            (
                "1728px": 0 0 5.787vw,
                "991px": 0 0 10.091vw,
                "768px": 0 0 13.021vw,
                "480px": 0 0 20.833vw,
            )
        );

        .container {
            position: relative;
            @include propriete_x(
                padding,
                null,
                (
                    "991px": 0,
                )
            );
        }
    }

    .wish_list {
        position: relative;
        list-style-type: none;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include propriete_x(
            padding,
            20px 0 0,
            (
                "1728px": 1.157vw 0 0,
                "991px": 2.018vw 0 0,
                "768px": 2.604vw 0 0,
                "480px": 4.167vw 0 0,
            )
        );
        @include propriete_x(
            flex-wrap,
            null,
            (
                "991px": initial,
            )
        );
        @include propriete_x(
            justify-content,
            null,
            (
                "991px": initial,
            )
        );
    }

    .wish_item {
        position: relative;
        @include propriete_x(
            padding,
            35px 45px,
            (
                "1728px": 2.025vw 2.604vw,
                "991px": 3.532vw 4.541vw,
                "768px": 4.557vw 5.859vw,
                "480px": 7.292vw 9.375vw,
            )
        );

        &.swiper-slide {
            width: max-content;
        }
    }

    .wish_block {
        position: relative;

        .media_wrapper {
            position: relative;
            mask-image: url("/assets/images/svg/media_mask_forme.svg");
            mask-size: 100%;
            mask-repeat: no-repeat;
            mask-position: center;
            margin: 0;
            @include propriete_x(
                width,
                317px,
                (
                    "1728px": 18.345vw,
                    "991px": 31.988vw,
                    "768px": 41.276vw,
                    "480px": 85.417vw,
                )
            );
            @include propriete_x(
                height,
                317px,
                (
                    "1728px": 18.345vw,
                    "991px": 31.988vw,
                    "768px": 41.276vw,
                    "480px": 85.417vw,
                )
            );
            @include propriete_x(
                padding,
                6px,
                (
                    "1728px": 0.347vw,
                    "991px": 0.605vw,
                    "768px": 0.781vw,
                    "480px": 1.25vw,
                )
            );

            &:hover {
                &::before {
                    transform: rotate(45deg);
                }

                .media {
                    transform: scale(1.07);
                }
            }

            &::before {
                content: "";
                width: 150%;
                height: 150%;
                left: -25%;
                top: -25%;
                background: linear-gradient(
                    90deg,
                    #d7bd64 0%,
                    #f3e1a7 50%,
                    #d9bd64 100%
                );
                transition: all 0.3s linear;
                position: absolute;
                display: block;
            }

            .content {
                position: relative;
                mask-image: url("/assets/images/svg/media_mask_inner.svg");
                mask-size: 100%;
                mask-repeat: no-repeat;
                mask-position: center;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .media {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            scale: 1.04;
            transition: all 0.3s linear;
        }

        .media_player {
            position: absolute;
            height: auto;
            @include propriete_x(
                width,
                93px,
                (
                    "1728px": 5.382vw,
                    "991px": 9.384vw,
                    "768px": 12.109vw,
                    "480px": 19.375vw,
                )
            );
        }
    }

    .user_info {
        position: absolute;
        background: linear-gradient(
            269.88deg,
            #d7bd64 3.15%,
            #f3e1a7 50.74%,
            #d9bd64 98.33%
        );
        color: #150630;
        max-width: 100%;
        width: max-content;
        @include propriete_x(
            padding,
            10px 21px,
            (
                "1728px": 0.579vw 1.215vw,
                "991px": 1.009vw 2.119vw,
                "768px": 1.302vw 2.734vw,
                "480px": 2.083vw 4.375vw,
            )
        );
        @include propriete_x(
            border-radius,
            2px,
            (
                "1728px": 0.116vw,
                "991px": 0.202vw,
                "768px": 0.26vw,
                "480px": 0.417vw,
            )
        );
        @include propriete_x(
            bottom,
            28px,
            (
                "1728px": 1.62vw,
                "991px": 2.825vw,
                "768px": 3.646vw,
                "480px": 5.833vw,
            )
        );
        @include propriete_x(
            left,
            -30px,
            (
                "1728px": -1.736vw,
                "991px": -3.027vw,
                "768px": -3.906vw,
                "480px": -6.25vw,
            )
        );
        @include propriete_x(
            display,
            null,
            (
                "480px": none,
            )
        );

        .username {
            position: relative;
            font-weight: 400;
            @include propriete_x(
                font-size,
                16px,
                (
                    "1728px": 0.926vw,
                    "991px": 1.615vw,
                    "768px": 2.083vw,
                    "480px": 3.333vw,
                )
            );
            @include propriete_x(
                line-height,
                13px,
                (
                    "1728px": 0.752vw,
                    "991px": 1.312vw,
                    "768px": 1.693vw,
                    "480px": 2.708vw,
                )
            );
            @include propriete_x(
                margin,
                0 0 3px,
                (
                    "1728px": 0 0 0.174vw,
                    "991px": 0 0 0.303vw,
                    "768px": 0 0 0.391vw,
                    "480px": 0 0 0.625vw,
                )
            );
        }

        .userjob {
            position: relative;
            font-weight: 400;
            text-transform: uppercase;
            @include propriete_x(
                font-size,
                9px,
                (
                    "1728px": 0.521vw,
                    "991px": 0.908vw,
                    "768px": 1.172vw,
                    "480px": 1.875vw,
                )
            );
            @include propriete_x(
                line-height,
                13px,
                (
                    "1728px": 0.752vw,
                    "991px": 1.312vw,
                    "768px": 1.693vw,
                    "480px": 2.708vw,
                )
            );
        }
    }

    .bg_wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        z-index: -1;
        margin: 0;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            bottom: 0;
            background: linear-gradient(
                180deg,
                #ffffff 0%,
                rgba(255, 255, 255, 0) 100%,
                #ffffff 100%
            );
            display: block;
            position: absolute;
            z-index: 1;
        }

        canvas {
            position: relative;
        }
    }
}
