@import "../../mixing/base";
@import "./sections/section0";
@import "./sections/section1";
@import "./sections/section2";

.sections {
    position: relative;
    width: 100%;
    overflow-x: hidden;

    .section {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        &.red {
            background: #f00;
        }

        &.green {
            background: #0f0;
        }

        &.blue {
            background: #00f;
        }

        .mask_top {
            position: absolute;
            width: 145%;
            top: -28px;
            left: -34%;
            height: auto;
        }

        .badge_logo {
            position: absolute;
            top: 0px;
            width: 125px;
            height: auto;
        }

        .section_content {
            width: 100%;
            /*background: red;*/
            z-index: 1;
            position: relative;
            mask-image: url("/assets/images/svg/section_card_mask_with_bg_white.svg");
            mask-size: 145%;
            mask-position: 76% -28px;
            padding: 125px 0 0;
        }
    }
}
